/* import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* import css files */
@import url("sections/header.css");
@import url("sections/form.css");
@import url("sections/total.css");
@import url("sections/footer.css");

/* declare variables for reusability */

:root {
	--font: "Montserrat", sans-serif;

	--color-black: #4e5150;
	--color-orange: #f2994a;
	--color-gray-1: #333;
	--color-gray-2: #4f4f4f;
	--color-gray-3: #828282;
	--color-gray-5: #bdbdbd;
	--color-gray-6: #f2f2f2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 1440px;

	padding: 0 240px;

	font-family: var(--font);
}

.center-body {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

@media screen and (max-width: 1380px) {
	body {
		padding: 0 180px;
	}
}

@media screen and (max-width: 1280px) {
	body {
		padding: 0 100px;
	}
}
@media screen and (max-width: 1080px) {
	body {
		padding: 0 12px;
	}
}
@media screen and (max-width: 900px) {
	.center-body {
		flex-direction: column-reverse;
		align-items: center;
		gap: 39px;
	}

	.form-shipping-last {
		flex-direction: column;
		gap: 0px;
	}

	.header h3 {
		margin-top: 32px;
		margin-bottom: 21px;
	}
}
